<div class="column is-half">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ include.item.name }}</p>
        </header>
        <div class="card-content">
            <div class="content">
                {{ include.item.description }}
            </div> <!-- content -->
        </div> <!-- card-content -->
        <footer class="card-footer">
            {% for action in include.item.actions %}
                <a href="{{ action.href }}" class="card-footer-item">
                    {{ action.name }}
                </a>
            {% endfor %}
        </footer>
    </div> <!-- card -->
</div> <!-- column -->